<?xml version="1.0" encoding="utf-8" ?>
<settings version="1">
    <section id="plugin.video.flow">
        <category id="access" label="30004" help="30005">
            <group id="access.user" label="30006">
                <setting id="access.user.name" type="string" label="30007" help="30008">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="string">
                    </control>
                </setting>
                <setting id="access.user.password" type="string" label="30009" help="30010">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="string">
                        <hidden>true</hidden>
                    </control>
                </setting>
            </group>
            <group id="access.profile" label="30011">
                <setting id="access.profile.tvrating" type="integer" label="30012" help="30013">
                    <level>0</level>
                    <default>6</default>
                    <constraints>
                        <allowempty>true</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="integer">
                    </control>
                </setting>
                <setting id="access.profile.external.id" type="string" label="30014" help="30015">
                    <level>3</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="string">
                    </control>
                </setting>
            </group>
            <group id="access.device" label="30016">
                <setting id="access.device.cas.id" type="string" label="30017" help="30018">
                    <level>3</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="string">
                    </control>
                </setting>
                <setting id="access.device.vuid" type="string" label="30019" help="30020">
                    <level>3</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="string">
                    </control>
                </setting>
                <setting id="access.device.id" type="string" label="30021" help="30022">
                    <level>3</level>
                    <default>0</default>
                    <constraints>
                        <allowempty>true</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="string">
                    </control>
                </setting>
            </group>
            <group id="access.jwt" label="30023">
                <setting id="access.jwt.refresh.interval" type="integer" label="30024" help="30025">
                    <level>1</level>
                    <default>12</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                        <minimum>6</minimum>
                        <maximum>24</maximum>
                        <step>1</step>
                    </constraints>
                    <control type="slider" format="integer">
                        <formatlabel>30002</formatlabel>
                    </control>
                </setting>
                <setting id="access.jwt.value" type="string" label="30026" help="30027">
                    <level>3</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="string">
                    </control>
                </setting>
                <setting id="access.jwt.last" type="string" label="30028" help="30029">
                    <level>3</level>
                    <default>0</default>
                    <constraints>
                        <allowempty>true</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="integer">
                    </control>
                </setting>
                <setting id="access.jwt.duration" type="string" label="30030" help="30031">
                    <level>3</level>
                    <default>0</default>
                    <constraints>
                        <allowempty>true</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="integer">
                    </control>
                </setting>
            </group>
            <group id="access.prm" label="30032">
                <setting id="access.prm.refresh.interval" type="integer" label="30033" help="30034">
                    <level>1</level>
                    <default>6</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                        <minimum>2</minimum>
                        <maximum>12</maximum>
                        <step>1</step>
                    </constraints>
                    <control type="slider" format="integer">
                        <formatlabel>30002</formatlabel>
                    </control>
                </setting>
                <setting id="access.prm.value" type="string" label="30035" help="30036">
                    <level>3</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="string">
                    </control>
                </setting>
                <setting id="access.prm.last" type="string" label="30037" help="30038">
                    <level>3</level>
                    <default>0</default>
                    <constraints>
                        <allowempty>true</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="integer">
                    </control>
                </setting>
                <setting id="access.prm.duration" type="string" label="30039" help="30040">
                    <level>3</level>
                    <default>0</default>
                    <constraints>
                        <allowempty>true</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="integer">
                    </control>
                </setting>
            </group>
        </category>
        <category id="epg" label="30041" help="30042">
            <group id="epg.pvr" label="30043">
                <setting id="epg.pvr.path" type="path" label="30044" help="30045">
                    <level>0</level>
                    <default>special://userdata/addon_data/plugin.video.flow</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="button" format="path">
                        <close>true</close>
                    </control>
                </setting>
                <setting id="epg.pvr.m3u.file" type="string" label="30046" help="30047">
                    <level>1</level>
                    <default>flowtv.m3u</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="string">
                    </control>
                </setting>
                <setting id="epg.pvr.xml.file" type="string" label="30048" help="30049">
                    <level>1</level>
                    <default>flowtv.xml</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="string">
                    </control>
                </setting>
                <setting id="epg.pvr.setup" type="action" label="30050" help="30051">
                    <level>0</level>
                    <data>RunPlugin(plugin://$ID/setup/pvr)</data>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>
            </group>
            <group id="epg.channels" label="30052">
                <setting id="epg.channels.show.progress" type="boolean" label="30053" help="30054">
                    <level>0</level>
                    <default>true</default>
                    <constraints>
                        <allowempty>true</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="toggle" format="boolean">
                    </control>
                </setting>
                <setting id="epg.channels.group.name" type="string" label="30055" help="30056">
                    <level>0</level>
                    <default>Flow</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="string">
                    </control>
                </setting>
                <setting id="epg.channels.refresh.interval" type="integer" label="30057" help="30058">
                    <level>1</level>
                    <default>7</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                        <minimum>1</minimum>
                        <maximum>10</maximum>
                        <step>1</step>
                    </constraints>
                    <control type="slider" format="integer">
                        <formatlabel>30001</formatlabel>
                    </control>
                </setting>
                <setting id="epg.channels.last" type="string" label="30059" help="30060">
                    <level>3</level>
                    <default>0</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="integer">
                    </control>
                </setting>
            </group>
            <group id="epg.programs" label="30061">
                <setting id="epg.programs.show.progress" type="boolean" label="30062" help="30063">
                    <level>0</level>
                    <default>true</default>
                    <constraints>
                        <allowempty>true</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="toggle" format="boolean">
                    </control>
                </setting>
                <setting id="epg.programs.refresh.interval" type="integer" label="30064" help="30065">
                    <level>1</level>
                    <default>9</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                        <minimum>6</minimum>
                        <maximum>12</maximum>
                        <step>1</step>
                    </constraints>
                    <control type="slider" format="integer">
                        <formatlabel>30002</formatlabel>
                    </control>
                </setting>
                <setting id="epg.programs.last.run" type="string" label="30066" help="30067">
                    <level>3</level>
                    <default>0</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="integer">
                    </control>
                </setting>
                <setting id="epg.programs.last.run.interval" type="integer" label="30068" help="30069">
                    <level>3</level>
                    <default>5</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                        <minimum>2</minimum>
                        <maximum>12</maximum>
                        <step>1</step>
                    </constraints>
                    <control type="slider" format="integer">
                        <formatlabel>30002</formatlabel>
                    </control>
                </setting>
                <setting id="epg.programs.last" type="string" label="30070" help="30071">
                    <level>3</level>
                    <default>0</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="integer">
                    </control>
                </setting>
            </group>
            <group id="epg.programs.normal" label="30072">
                <setting id="epg.programs.normal.total.hours" type="integer" label="30073" help="30074">
                    <level>0</level>
                    <default>72</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                        <minimum>24</minimum>
                        <maximum>120</maximum>
                        <step>24</step>
                    </constraints>
                    <control type="slider" format="integer">
                        <formatlabel>30002</formatlabel>
                    </control>
                </setting>
                <setting id="epg.programs.normal.channels.per.query" type="integer" label="30075" help="30076">
                    <level>3</level>
                    <default>8</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                        <minimum>2</minimum>
                        <maximum>12</maximum>
                        <step>1</step>
                    </constraints>
                    <control type="slider" format="integer">
                    </control>
                </setting>
                <setting id="epg.programs.normal.programs.per.query" type="integer" label="30077" help="30078">
                    <level>3</level>
                    <default>1440</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                        <minimum>1000</minimum>
                        <maximum>1440</maximum>
                        <step>1</step>
                    </constraints>
                    <control type="slider" format="integer">
                    </control>
                </setting>
                <setting id="epg.programs.normal.queries.per.run" type="integer" label="30079" help="30080">
                    <level>3</level>
                    <default>4</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                        <minimum>1</minimum>
                        <maximum>6</maximum>
                        <step>1</step>
                    </constraints>
                    <control type="slider" format="integer">
                    </control>
                </setting>
                <setting id="epg.programs.normal.wait.per.run" type="integer" label="30081" help="30082">
                    <level>3</level>
                    <default>1500</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                        <minimum>1000</minimum>
                        <maximum>3000</maximum>
                        <step>10</step>
                    </constraints>
                    <control type="slider" format="integer">
                        <formatlabel>30003</formatlabel>
                    </control>
                </setting>
            </group>
        </category>
        <category id="api" label="30083" help="30084">
            <group id="api.servers" label="30085">
                <setting id="api.servers.main" type="string" label="30086" help="30087">
                    <level>3</level>
                    <default>https://web.flow.com.ar</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="string">
                    </control>
                </setting>
                <setting id="api.servers.images" type="string" label="30088" help="30089">
                    <level>3</level>
                    <default>https://static.flow.com.ar</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="string">
                    </control>
                </setting>
                <setting id="api.servers.app" type="string" label="30090" help="30091">
                    <level>3</level>
                    <default>https://web.app.flow.com.ar</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="string">
                    </control>
                </setting>
                <setting id="api.servers.radio.app" type="string" label="30092" help="30093">
                    <level>3</level>
                    <default>https://musicapp.cvattv.com.ar</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="string">
                    </control>
                </setting>
                <setting id="api.servers.radio.src" type="string" label="30094" help="30095">
                    <level>3</level>
                    <default>https://musicsrc.cvattv.com.ar</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="string">
                    </control>
                </setting>
                <setting id="api.servers.radio.img" type="string" label="30096" help="30097">
                    <level>3</level>
                    <default>https://web.app.flow.com.ar/img/radios</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="string">
                    </control>
                </setting>
            </group>
            <group id="api.data" label="30098">
                <setting id="api.data.version" type="string" label="30099" help="30100">
                    <level>3</level>
                    <default>3.60.3</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="string">
                    </control>
                </setting>
                <setting id="api.data.type" type="string" label="30101" help="30102">
                    <level>3</level>
                    <default>CVA</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="string">
                    </control>
                </setting>
                <setting id="api.data.player" type="string" label="30103" help="30104">
                    <level>3</level>
                    <default>VISUAL_ON</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="string">
                    </control>
                </setting>
                <setting id="api.data.network" type="string" label="30105" help="30106">
                    <level>3</level>
                    <default>BROADBAND</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="string">
                    </control>
                </setting>
                <setting id="api.data.device.type" type="string" label="30107" help="30108">
                    <level>3</level>
                    <default>WEB</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="string">
                    </control>
                </setting>
                <setting id="api.data.device.model" type="string" label="30109" help="30110">
                    <level>3</level>
                    <default>PC</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="string">
                    </control>
                </setting>
                <setting id="api.data.device.name" type="string" label="30111" help="30112">
                    <level>3</level>
                    <default>KODI</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="string">
                    </control>
                </setting>
                <setting id="api.data.device.platform" type="string" label="30113" help="30114">
                    <level>3</level>
                    <default>WINDOWS</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="string">
                    </control>
                </setting>
                <setting id="api.data.company" type="string" label="30115" help="30116">
                    <level>3</level>
                    <default>flow</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="string">
                    </control>
                </setting>
                <setting id="api.data.request.id.prefix" type="string" label="30117" help="30118">
                    <level>3</level>
                    <default>K0D1</default>
                    <constraints>
                        <allowempty>false</allowempty>
                        <writable>true</writable>
                    </constraints>
                    <control type="edit" format="string">
                    </control>
                </setting>
            </group>
        </category>
    </section>
</settings>